AZURE_STORAGE_CONNECTION_STRING=''
DEFAULT_ARTIFACT_ROOT="wasbs://<name>@mastiabistore.blob.core.windows.net/<path>"
BACKEND_URI="mssql+pyodbc://<dbuser>:<dbpassword>@<dbname>.database.windows.net:1433/<db>?driver=ODBC+Driver+18+for+SQL+Server"
MLFLOW_AUTH_CONFIG_PATH=/app/auth_config.ini
