KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=
KC_PROXY_ADDRESS_FORWARDING=true
KC_HOSTNAME_STRICT=false
KC_HOSTNAME=https://auth.example.com
KC_HOSTNAME_ADMIN_URL=https://auth.example.com
KC_PROXY=edge
KC_FEATURES=hostname:v2
KC_HTTP_ENABLED=true
KC_HEALTH_ENABLED=true
KC_DB=mssql
KC_DB_USERNAME=
KC_DB_PASSWORD=
KC_DB_URL="jdbc:sqlserver://<db>.database.windows.net:1433;database=<db>;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30"
